.testimonials {
    padding: 4rem 1.5rem;
    background: #fafafa;
    text-align: center;
  }

  .testimonials h2 {
    font-size: 2.3rem;
  }
  
  .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .testimonial {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: var(--shadow);
  }
  
  .testimonial span {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
  }

  .testimonial img {
      height: 99px;
      width: auto;
      margin: -34px;
  }
  
  @media (max-width: 768px) {
    .testimonials-grid {
      grid-template-columns: 1fr;
    }
  }