.contact-section {
    padding: 4rem 1.25rem;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.contact-text {
    flex: 1;
}

.contact-text h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.contact-text p {
    font-size: 1.05rem;
    margin-bottom: 1.5rem;
    color: #555;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}

.contact-info li {
    margin-bottom: 0.5rem;
}

.contact-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 320px;
}

.contact-buttons span {
    color: black;
}

.btn {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.9rem 1.25rem;
    border-radius: 35px;
    border: 2px solid rgba(0, 0, 0, 0.432);
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    transition: transform .2s ease, box-shadow .2s ease;
}

.btn img {
    width: 22px;
    height: 22px;
}

/* Cores individuais */
.btn-wpp {
    background-color: #25d366;
}

.btn-instagram {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af);
}

.btn-facebook {
    background-color: #1877f2;
}

/* Hover */
.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, .25);
    border: 1px solid rgb(0, 0, 0);

}

.regiao-atendida {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.regiao-atendida img {
    width: 18px;
    height: 18px;
}


/* MOBILE */
@media (max-width: 768px) {
    .contact-buttons {
        max-width: 100%;
    }

    .btn {
        justify-content: center;
    }
}