.faq {
    max-width: 800px;
    margin: 3rem 1.75rem;
  }

  .faq h2 {
    font-size: 2.4rem;
    margin-bottom: 1.25rem;
  }
  
  .faq-item {
    margin-bottom: 1.5rem;
  }
  
  .faq-item h4 {
    margin-bottom: 0.5rem;
  }