.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1.25rem;
    overflow: hidden;
    background-color: var(--bg);
    margin-bottom: 8rem;
}


.hero-text,
.image-wrapper {
    flex: 1;
    min-width: 0;
}

.hero-text {
    flex: 1;
}

.image-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.image-wrapper img {
    box-shadow: var(--shadow);
    max-width: 400px;
    height: auto;
    border-radius: 6px;
}

.hero-h1 {
    margin: 0.6rem;
    color: var(--primary);
    font-size: 3rem;
}

.hero-h2 {
    margin: 0.6rem;
    font-weight: 500;
}

#home {
    font-weight: 300;
    font-size: 2rem;
}

.CTA-wpp-btn {
    margin: 0.6rem;
    color: beige;
    border: 2px solid rgba(128, 128, 128, 0.384);
    border-radius: 50px;
    height: 5rem;
    width: 20rem;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: var(--shadow);
    transition: 0.3s;
}

.CTA-wpp-btn:hover {
    cursor: pointer;
    scale: 0.98;
    filter: brightness(0.8);
    box-shadow: none;
}

.CTA-wpp-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    scale: 1.03;
}




/* MOBILE----------------------------- */
@media (max-width: 768px) {
    .hero-wrapper {
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 1.5rem;
        max-width: 767px;

    }

    .hero-text {
        text-align: center;
    }

    #home {
        font-size: 0.95rem;
    }

    .hero-h1 {
        font-size: 1.9rem;
        line-height: 1.2;
    }

    .hero-h2 {
        line-height: 1.2;
        font-size: 1.09rem;
    }

    .image-wrapper {
        overflow: hidden;
    }

    .image-wrapper img {
        object-fit: cover;
        max-width: 300px;

    }
}